# Machine Learning: Regression - Predicting Energy Efficiency of Building

### About the Dataset

The dataset is the Appliances Energy Prediction data. The data set is at 10 min for about 4.5 months. The house temperature and humidity conditions were monitored with a ZigBee wireless sensor network. Each wireless node transmitted the temperature and humidity conditions around 3.3 min. Then, the wireless data was averaged for 10 minutes periods. The energy data was logged every 10 minutes with m-bus energy meters. Weather from the nearest airport weather station (Chievres Airport, Belgium) was downloaded from a public data set from Reliable Prognosis (rp5.ru), and merged together with the experimental data sets using the date and time column. Two random variables have been included in the data set for testing the regression models and to filter out non predictive attributes (parameters). The attribute information can be seen below.

Attribute Information:

Date, time year-month-day hour:minute:second

Appliances, energy use in Wh 

lights, energy use of light fixtures in the house in Wh

T1, Temperature in kitchen area, in Celsius

RH_1, Humidity in kitchen area, in %

T2, Temperature in living room area, in Celsius

RH_2, Humidity in living room area, in %

T3, Temperature in laundry room area

RH_3, Humidity in laundry room area, in %

T4, Temperature in office room, in Celsius

RH_4, Humidity in office room, in %

T5, Temperature in bathroom, in Celsius

RH_5, Humidity in bathroom, in %

T6, Temperature outside the building (north side), in Celsius

RH_6, Humidity outside the building (north side), in %

T7, Temperature in ironing room , in Celsius

RH_7, Humidity in ironing room, in %

T8, Temperature in teenager room 2, in Celsius

RH_8, Humidity in teenager room 2, in %

T9, Temperature in parents room, in Celsius

RH_9, Humidity in parents room, in %

To, Temperature outside (from Chievres weather station), in Celsius

Pressure (from Chievres weather station), in mm Hg

RH_out, Humidity outside (from Chievres weather station), in %

Wind speed (from Chievres weather station), in m/s

Visibility (from Chievres weather station), in km

Tdewpoint (from Chievres weather station), Â°C

rv1, Random variable 1, nondimensional

rv2, Random variable 2, nondimensional

In [1]:
# Import the necessary python libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import warnings

In [2]:
# To suppress all warnings
warnings.filterwarnings("ignore")

In [3]:
data = pd.read_csv("energydata_complete.csv")

In [4]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [5]:
data.shape

(19735, 29)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [7]:
# 17
# from the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). 
# What is the Root Mean Squared error in three D.P?

In [8]:
# Prepare the training data
x = data[["T2"]]
y = data[["T6"]]

In [9]:
# Split the data into training and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)

In [10]:
# Instantiate the Linear Regressor
model = LinearRegression()

In [11]:
# Fit model to the training data
model.fit(x_train, y_train)

LinearRegression()

In [12]:
# Model Evaluation
y_pred = model.predict(x_test)

In [13]:
mse = mean_squared_error(y_test, y_pred)
mse

13.17918794078674

In [14]:
rmse = np.sqrt(mse)
print(f"RMSE: {rmse}")

RMSE: 3.630315129680444

In [15]:
# Q18

In [16]:
x2 = data.drop(columns = ["date", "lights", "Appliances"])

In [17]:
y2 = data[["Appliances"]]

In [18]:
# Separate train and test dataset
x2_train, x2_test, y2_train, y2_test = train_test_split(x2, y2, test_size=0.3, random_state=42)

In [19]:
# Normalize the features dataset
scaler = StandardScaler()
scaler = scaler.fit(x2_train)
x2_train_scaled = scaler.transform(x2_train)
x2_test_scaled = scaler.transform(x2_test)

In [20]:
# Train the model with linear regression
linear_reg = LinearRegression()
linear_reg.fit(x2_train_scaled, y2_train)

LinearRegression()

In [21]:
# Model Evaluation
y2_pred = linear_reg.predict(x2_test_scaled)

In [22]:
mae = mean_absolute_error(y2_test, y2_pred)
mae

53.6429776558496

In [23]:
mse1 = mean_squared_error(y2_test, y2_pred)
mse1

8768.535925051974

In [24]:
# Set the hyperparameters
params = {'alpha': [0.001, 0.01, 0.1, 1, 10, 100]}

In [25]:
# Tune the hyperparameters for Ridge regression
ridge = Ridge()
ridge_cv = GridSearchCV(ridge, params, cv=5)
ridge_cv.fit(x2_train_scaled, y2_train)

print(f"Best alpha for Ridge: {ridge_cv.best_params_['alpha']}")

Best alpha for Ridge: 1

In [26]:
# Train model with the best alpha param
ridge_best = Ridge(alpha=ridge_cv.best_params_['alpha']).fit(x2_train_scaled, y2_train)

In [27]:
# Tune the hyperparameters for Lasso regression
lasso = Lasso()
lasso_cv = GridSearchCV(lasso, params, cv=5)
lasso_cv.fit(x2_train_scaled, y2_train)
print(f"Best alpha for Lasso: {lasso_cv.best_params_['alpha']}")

Best alpha for Lasso: 0.01

In [28]:
mse2 = mean_squared_error(y2_test, y2_pred)
mse2

8768.535925051974

In [29]:
# Train the model with the best alpha param
lasso_best = Lasso(alpha=lasso_cv.best_params_['alpha']).fit(x2_train_scaled, y2_train)

In [30]:
mse2 = mean_squared_error(y2_test, y2_pred)
mse2

8768.535925051974

In [31]:
# Evaluate the trained models
linear_reg_mse = mean_squared_error(y2_test, linear_reg.predict(x2_test_scaled))
ridge_mse = mean_squared_error(y2_test, ridge_best.predict(x2_test_scaled))
lasso_mse = mean_squared_error(y2_test, lasso_best.predict(x2_test_scaled))

print(f"Linear Regression MSE: {linear_reg_mse}")
print(f"Ridge Regression MSE: {ridge_mse}")
print(f"Lasso Regression MSE: {lasso_mse}")

Linear Regression MSE: 8768.535925051974
Ridge Regression MSE: 8768.606009478654
Lasso Regression MSE: 8768.508131471037